<div class="social-buttons" style="overflow: auto;">

  <h3>Share and Follow</h3>

  <!-- Twitter -->
  <div style="float: left;">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="kevin_ushey" data-hashtags="rstats">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  <!-- Google Plus -->
    <div class="g-plus" data-action="share" data-annotation="bubble"></div>

  <!-- LinkedIn -->
    <script src="//platform.linkedin.com/in.js" type="text/javascript">
lang: en_US
    </script>
    <script type="IN/Share" data-counter="right"></script>

  </div>

    <!-- RSS -->
    <div style="float: left; margin-left: 4px; overflow: auto;">
    {% include rss-icon.html %}
    </div>

</div>

